*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: helvetica, sans-serif;
  color: #444;
  line-height: 1.6;
}
h1, h2, h3 {
  margin-top: 0;
}
#container {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
.lista {
  list-style: none;
  padding-left: 0;
}
.text-bold {
  font-weight: bold;
}
#mentores,
#alumnos {
  background: #f7f7f7;
  padding: 1rem;
  margin-bottom: 1rem;
}
